{% extends "base.html.twig" %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}

	<h1 class="title p-1 text-center">Blog d'actualité Jstore</h1>

	<div class="row">

		<div class="col-md-8">
			<div class="row">

				{% for article in articles %}

					<div class="col-md-4 mb-3">
						<img class="card-img-top" src="/assets/blog/images/{{ article.image }}" alt="{{ article.title}}">
						<div class="card-body">
							<h5 class="card-title">{{ article.title }}</h5>

							<a href="{{ path('show_article', {'id': article.id}) }}" class="btn btn-primary">En savoir plus</a>
						</div>
						<div class="card-footer">
							<p class="date">Ecrit le
								{{ article.createdAt | date("d/m/y") }}
								a
								{{ article.createdAt | date('H:i ')}}
								par
								<span class="author">{{ article.author}}</span>
							</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="col-md-4">
			<h2>Categories</h2>
			<ul class="list-group">
				{% for category in categories %}
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<a href="{{ path('show_article_category', {'id': category.id}) }}">{{ category.title}}
							<span class="badge badge-primary badge-pill">{{ category.articles | length}}article(s)</span>
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>


{% endblock %}
